.p-font{
  font-family: 'Playfair Display', serif;
}

.title-font {
  font-family: 'Tajawal', sans-serif;
  font-weight: bold;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.inner-container {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}