.title {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 1em;
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}

.title-pic{
  height: 420px;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .title-pic{
    height: 250px;
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
}
